doctype html 
html(lang="en")
  head 
    title Answer Wager
    link(rel="stylesheet" href="index.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css")


body
  div(class='connect' hx-on:htmx:ws-close='location.reload();' hx-ext='ws' ws-connect='/ws' hx-trigger='ws:message')  
    div(class='content')
      div(class='center')
        include start-page.pug
  script(src="https://unpkg.com/htmx.org/dist/htmx.js")
  script(src="https://unpkg.com/htmx.org/dist/ext/ws.js")
  script(src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js")
  script(src="index.js") 
  script. 
    startUp()
