.center
    div(class='page disconnect' hx-target='.content' hx-vals=`{"gameId": "${gameId}","playerId": "${playerId}"}`)
        a(class='disconnected-placeholder' hx-trigger='every 0.5s' hx-target='.content' hx-get='/games/disconnect') Disconnected