.id-wrapper
 input(class='player-id' id='playerId' name='playerId' value=`${playerId}` readonly)
 a(class='label' id='game-id-label') Game ID:
 input(class='game-id' id='gameId' name='gameId' value=`${gameId}` readonly)