.center
    form(class='page main-menu' id='main-menu' name='main-menu' hx-target='.content' hx-vals=`{"playerId": "${player.playerId}"}`)
        h1(class='title' id='game-title') Answer Wager
        button(hx-put=`/games/join` hx-prompt='Enter Game ID: ') Join Game 
        button(hx-post='/games') Host Game
        button(hx-get=`/game-rules/${player.playerId}`) Game Rules
        

