div(class='player-list' id='player-list-grid')
    each player in players
        if player.readyStatus
            div(class='grid-row' id='player-row-ready') #{player.playerName}
        else 
            div(class='grid-row' id='player-row') #{player.playerName}