ul(id='player-list' class='game-list' hx-trigger='every 2s' hx-swap='outerHTML' hx-get=`/games/${gameId}/playerlist` hx-include="[name='playerId']")
    each player in playerList
        li(class='game-list-item') #{player}