.question
 include ids.pug
 img(class='question-img' id='question-img' src=`${imageURL}`)
 h2(class='big-text' id='question-text') #{question}
 input(class='menu-input' id='answer-input' name='submittedAnswer' hx-trigger='every 3s' hx-get=`/games/${gameId}/answercheck` hx-target='.center')
 button(id='submit-btn' class='menu-button' onclick='this.setAttribute("disabled", "disabled")' hx-get=`/games/${gameId}/submitanswer` hx-target='.center' hx-include="[name='submittedAnswer'],[name='playerId']") Submit