.center 
 div(class='page score-board' hx-target='.content' hx-vals=`{"gameId": "${gameId}","playerId": "${playerId}"}`)
  each player in players
   div(class='score-text' id='score-text') #{player.playerName} &nbsp; #{player.pointsEarnedRound}