.center 
 div(class='page score-board' hx-target='.content' hx-vals=`{"gameId": "${gameId}","playerId": "${playerId}"}`)
  each score-item in score-items
   div(class='score-text' id='score-text') #{score-item}