div(class='page start-page')     
 input(id='name-input' class='menu-input' name='playerName' value='' placeholder='Enter Name') 
 button(id='connect' class='menu-button' hx-get='/connect' hx-target='.content' hx-include="[name='playerName'],[name='playerId']") Confirm       