div(class='page start-page' id='start-page' name='start-page' hx-vals=`{"gameId": "${gameId}","playerId": "${playerId}"}` hx-target='.content')     
 input(id='name-input' class='menu-input' name='playerName' value='' placeholder='Enter Name') 
 button(id='connect' class='menu-button' hx-get='/connect') Confirm       