if playersReady
    button(id='start-btn' class='menu-btn' hx-get=`/games/${gameId}/start` hx-vals=`{"playerId": "${playerId}"}`) Start
else 
    button(id='start-btn' class='menu-btn' disabled) Start

