doctype html 
html(lang="en")
    head 
        title Answer Wager
        link(rel="stylesheet" href="index.css")
    body 
    div(class='center') 
        .start-page  
            input(class='player-id' id='playerId' name='playerId' readonly)
            input(id='name-input' class='menu-input' name='playerName' value=playerName) 
            button(id='connect' class='menu-button' hx-get='/connect' hx-target='.center' hx-include="[name='playerName'],[name='playerId']") Confirm

    script(src="/htmx.min.js")
    script(src="/socket.io/socket.io.js")
    script(type='text/javascript') const socket = io(); socket.on('connect', function() {document.getElementById('playerId').value = socket.id;});
