.wager-board
 .board-segment
  a(class='odds-text') 6/1
  a(class='answer-text') SMALLER
  button(class='segment-btn') Bet 
 .board-segment
  a(class='odds-text') 5/1
  a(class='answer-text') 
  button(class='segment-btn') Bet
 .board-segment
  a(class='odds-text') 4/1
  a(class='answer-text') 
  button(class='segment-btn') Bet
 .board-segment
  a(class='odds-text') 3/1
  a(class='answer-text') 
  button(class='segment-btn') Bet
 .board-segment
  a(class='odds-text') 2/1
  a(class='answer-text') 
  button(class='segment-btn') Bet
 .board-segment
  a(class='odds-text') 3/1
  a(class='answer-text') 
  button(class='segment-btn') Bet
 .board-segment
  a(class='odds-text') 4/1
  a(class='answer-text') 
  button(class='segment-btn') Bet
 .board-segment
  a(class='odds-text') 5/1
  a(class='answer-text') 
  button(class='segment-btn') Bet
