:root {
    --Base: #1e1e2e;
    --Mantle: #181825;
    --Crust: #11111b;
    --Blue: #69b4fa;
    --Text: #cdd6f4;
    --SubText1: #bac2de;
    --SubText0: #a6adc8;
    --Surface0: #313244;
    --Surface1: #45475a;
    --Surface2: #585b70;
    --Overlay0: #6c7086;
    --Overlay1: #7f849c;
    --Overlay2: #9399b2;

}
*, *::after, *::before {
    box-sizing:border-box;
    padding:0;
    margin:0;
  }

  html,body {
    /* height:100%; */
    font-size: 16px;
    line-height:1.5em;
    /* color: #333; */
    color: var(--Text);
    background-color: var(--Base);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}

button {
    font-size: 16px;
    padding: 5%;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: transparent;
    color: var(--Blue);
    border: 1px solid var(--Blue);
    cursor: pointer;
    border-radius: 8px;
}
button:hover {
    background-color: var(--Surface0);
}

input {
    
    size: 50;
    justify-self: left;
    border: 1px solid var(--Surface0) ;
    border-radius: 6px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
    font-size: 16px;
    color: var(--Text);
    background-color: var(--Mantle);
}


.main-menu {
    display:grid;
    grid-auto-flow: row;
    row-gap: 5px;
    width: 80%;
    height: 200px;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.start-page {
    
    display: grid;
    row-gap: 5px;
    column-gap: 5px;

    .menu-input {
        font-size: 36px;
    }

}

.player-id {
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }



